.bg {
  background-color: #fdffff;
}
ul {
  list-style-type: none;
  text-align: center
}
a {
  color: #027e84;
  font-weight: bold;
  padding: 0 4px;
  text-decoration: none;
}
a:hover {
  color: #024059;
}
span {
  margin-top: 7px;
  margin-right: 10px;
}